@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde: #106049;
  --amarelo: #faa61a; 
}

/* ------------------------ */

.imgAir, .imgLogo {
  display: flex;
  position: absolute;
}

.imgAir {
  width: 100vw;
  height: 200px;
}


















/*

body{
  background-color: #106049;
}

.containnerImg {
  display: flex;
}

.containnerImg img.imgAirTractor{
  height: 250px;
  width: 100%;
}

.containnerImg img.imgLogo{
  position: absolute;
  width: 200px;
  height: 50px;
  padding-top: 6px;
  padding-left: 6px;
}

.containnerTitulo {
  flex: auto;
}

.titulo {
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  font-family: Fivosans, sans-serif;
  color: #fff;
}

.text-span {
  color: #faa61a;
}

*/
