/* background-color: #106049;
color: #faa61a; */
@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: linear-gradient(135deg, #87CEEB, #1E90FF);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard-container {
  width: 400px;
  padding: 30px;
  background-color: #ffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-header h2 {
  font-size: 28px;
  color: #1E90FF;
}

.dashboard-header p {
  margin-top: 5px;
  color: #777;
}

.info-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-box h3 {
  margin-bottom: 5px;
  color: #333;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 5px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  transition: background-color 0.3s;
  background-color: #1565b5;
}

